<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @deck.name %>
</p>

<p>
  <strong>Styling:</strong>
  <%= @deck.styling %>
</p>

<p>
  <strong>Fields:</strong>
  <%= @deck.fields %>
</p>

<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
